.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 70px;
    margin-right: 10px;
}

.titulo{
    background-color: #131f2f;
    color: white;
    padding: 15px 5px 15px 5px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
    border-radius: 30px;
}

.containerConteudo{
    background-color: white;
    border-radius: 30px;
}