/* padrão todas as telas */

body{
    background-color: rgb(235,235,235);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.conteudo{
    background-color: #131f2f;
    width: 99%;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 70px;
    margin-right: 10px;
}

.titulo{
    background-color: #131f2f;
    color: white;
    padding: 15px 5px 15px 5px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
    border-radius: 30px;
}

.containerConteudo{
    background-color: white;
    border-radius: 30px;
}

/* botão de voltar se tiver */

.containerConteudo .btnVoltar{
    height: 60px;
    width: 250px;
    font-size: 18px;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background-color: #fff5ec;
}

.btnVoltar:hover{
    background-color: #e8a34b;
    color: #fff;
    box-shadow: 0px 8px 15px #c68c41;
}

/* código específico */
h1{
    font-weight: 500;
    padding: 0 10px;
}

.containerConteudo{
    font-family: 'Roboto', sans-serif;
}

.tituloForm{
    margin: 10px;
    padding: 10px;
    color: #e8a34b;
    font-size: 35px;
}

label{
    margin: 10px;
    font-size: 20px;
    pointer-events: none;
}

.lapisPng{
    height: 20px;
    width: 20px;
}

.tituloNome{
    border-style: none;
    font-weight: 600;
    padding-left: 10px;
}

.containerNome{
    display: initial;
    padding: 10px;
}

.inputNomeTeste{
    width: 300px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 30px;
    font-weight: 500;
    display: initial;
    padding-left: 10px;
    background-color: #eff1ee;
}

.inputNomeTeste:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: text;
    color: black;
    
}

.btnForms{
    height: 50px;
    width: 200px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: #fff5ec;
}

.btnForms:hover{
    background-color: #e8a34b;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #c68c41;
    color: #fff;
}

#sec{
    margin: 25px;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-style: solid;
    border-color: #f3ddc1;
}
.sec .h1{
    font-weight: 600;
}
.conteudoSec{
    justify-content: space-between;
    margin: 10px;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-style: solid;
    border-color: #f3ddc1;
    text-align: center;
}

.containerTeste{
    margin: 10px;
}

input{
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-style: solid;
    border-color: #f3ddc1;
    padding: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 600;
    width:100%;
    display: block;
}

article{
    pointer-events: none;
    border-style: solid;
    border-color: #eff1ee;
    border-radius: 20px;
    border-width: 2px;
    margin: 10px;
}

article:hover{
    border-color: #e8a34b;
    color: #e8a34b;
}

article input{
    pointer-events: auto;
}

article input:hover{
    background-color: #e8a34b;
    box-shadow: 0px 6px 13px #c68c41;
    color: #fff;
}

.testeCriado{
    margin: 10px;
    padding: 10px;
    color: #000000;
    font-size: 35px;
}